<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todo.mapper.EmployeesInfoMapper">

	<select id="getEmployees" resultType="com.example.todo.dto.SearchEmployeesDTO">
		SELECT * FROM employees e 
		LEFT JOIN departments d ON e.dpt_id  = d.dpt_id 
		LEFT JOIN positions p ON e.position_id  = p.position_id 
		WHERE created_date IS NOT null
		<if test="lastname != null and lastname != ''">
                AND e.lastname = #{lastname}
         </if>
         <if test="firstname != null and firstname != ''">
                AND e.firstname = #{firstname}
         </if> 
       <if test="position_id != null and position_id != ''">
                AND e.position_id = #{position_id}
         </if>
        <if test="dpt_id != null and dpt_id != ''">
                AND e.dpt_id = #{dpt_id}
         </if>
         
         <if test="startDate != null and endDate != null">
                AND birthday between #{startDate} and #{endDate}
         </if>
	</select>
	
	<select id="getStamps" resultType="com.example.todo.dto.SearchStampsDTO">
		SELECT * FROM logs l
		LEFT JOIN employees e ON e.employee_id  = l.user_id 
		WHERE datetime between #{startDate} and #{endDate}
		<if test="stampType_id != null and stampType_id != ''">
                AND stampType_id = #{stampType_id}
         </if>
        <if test="employee_id != null and employee_id != ''">
                AND user_id = #{employee_id}
         </if>
        <if test="firstname != null and firstname != ''">
                AND firstname = #{firstname}
         </if>
         
         <if test="lastname != null and lastname != ''">
                AND lastname = #{lastname}
         </if>
         
        <!-- <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND datetime between #{startDate} and #{endDate}
         </if> -->
	</select>
	
	<update id="updateStamps">
    	UPDATE logs SET datetime = #{datetime}, stampType_id = #{stampType_id} WHERE log_id = #{id};
    </update>
	

		<select id="login" resultType="com.example.todo.entity.EmployeesEntity">
		SELECT
		 *
		FROM
		 employees
		WHERE
		 employee_id = #{login_id} AND loginPW = #{login_pw} 
	</select>
	

    <select id="getEmployeesById" resultType="com.example.todo.entity.EmployeesEntity">
    	SELECT firstname FROM employees WHERE lastname=#{name};
    </select>
    
    <!--  author kk -->
    <select id="getEmployeesLogs" resultType="com.example.todo.entity.LogsEntity">
    	SELECT * FROM logs;
    </select>
    
    <!--  author kk -->
    <select id="getAnEmployeeFirstName">
    	SELECT firstName FROM employees WHERE employee_id=#{id};
    </select>
    
    <!--  author kk -->
    <insert id="insertLogs">
    	INSERT INTO logs 
    		(datetime, stampType_id, user_id, applicant, note)
    	VALUES
    		(CURRENT_TIMESTAMP, #{stampTypeId}, #{userId}, #{applicant}, #{note});
    </insert>

    
    <!--  author kk  -->
    <insert id="createNewUser">
    	INSERT INTO employees
			(employee_id, loginPW, lastName, firstName, dpt_id, 
					position_id, mail, phone, address, birthday, created_date)
		VALUES
			(#{employee_id}, #{loginPW}, "xx", "xxx", 1, 
				1, "xx@gmail.com", "xxx-xxxx-xxxx", "Tokyo", CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
    </insert>
    
</mapper>