@charset "UTF-8";

/** Common CSS for header and footer. */

.header {
	position: relative;
	background-color: white;
	color: red;
	padding: 10px;
}

.header img {
	position: absolute; 
    top:  5; 
    left: 5;
    width: 240px;
    height: 60px;
    margin: 10px; 
}

.header h1 {
	margin-top: 20px; 
    padding-left: 20;
    text-align: center;
    size: 60px;
}

