@charset "UTF-8";

button {
	width: 100px;
	height: 20px;
}

.area {
	position: relative;
	top: 60px;
	width: 500px;
	height: 500px;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	border-radius: 20px;
	background-color: white;
}

.content_box_admin {
	position: absolute;
	top: 250px;
	left:5%;
	margin: auto;
	height: 400px auto;
	width: 90%;
	background-color: pink;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom:20px;
}

input{
	font-size:20px;
}
#tab_position1{
	position: absolute;
	top:140px;
}
#tab_position2{
	position: absolute;
	top:140px;
	left:600px;
}

.tab_class {
	width: 500px;
	height: 50px;
	background-color: darkgrey;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	display: block;
	float: left;
	order: -1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-weight:bold;
}

input[name="tab_name"] {
	display: none;
}

input:checked+.tab_class {
	background-color: pink;
	color: black;
}

.content_class {
	display: none;
	width: 100%;
	font-size:25px;
	padding-left: 30px;
	font-weight: bold;
}
.footer_box1{
	text-align:center;
	font-weight:bold;
	position:absolute;
	bottom:0px;
	font-size:30px;
	border-top: 3px solid black;
	margin: 0 5%;
    width: 88%; 
    color: black;
    padding: 20px; 
    display: inline-block;
}
input:checked+.tab_class+.content_class {
	display: block;
}