@charset "UTF-8";

.container {
	background-color: pink;
	text-align: center;
	padding: 10px;
	display: flex; 
}

.left-column {
	flex: 1;
    float: left;
    margin-right: 20px; 
    background-color: pink;
    font-size: 50px;
}

.right-column {
	flex: 1;
    float: right;
    margin-left: 20px; 
    background-color: pink;
}

.select {
	margin-bottom: 50px;
}

.select button {
    display: block; 
    margin: 5px auto; 
}
.total_box{
	padding: 20px 0px;
}
.btn {
    display: inline-block;
    margin: 5px auto;
    width: 100px; 
    height: 100px; 
    font-size: 16px; 
}

.logout-btn {
    position: absolute;
    top: 20px; 
    right: 5%; 
    size: 50px;
    width: 150px;
    height: 50px;
    color: black;
    border:none;
    background-color:red;
    font-size:25px;
    color:white;
    font-weight:bolder;
    border-radius:10px;
}
.logout-btn:hover{
	background-color:black;
}
select {
    appearance: menulist;
    width: 200px; 
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.title_box{
	height:80px;
	display: flex;
    align-items: center; 
}
.title_1{
	width:25%;
	display: inline-block;
	text-align:center;
}
.title_2{
	text-align:center;
	font-weight:bold;
	width:50%;
	font-size:40px;
	color:red;
	display: inline-block;
}
.title3{
	width:auto;
	display: inline-block;
	padding:10%;
}
.main_logo{
	display:block;
	width:100%;
	height:auto;
}
.main_box{
	width:90%;
	text-align:center;
	font-weight:bold;
	font-size:40px;
	border-top: 3px solid black;
	margin: 5px 5%;
}
.content_box{
	margin:30px 5%;
	padding: 30px 5px;
	width:90%;
	background-color:pink;
	border-radius:20px;
}


.medium_whitebox{ 
	border-radius:30px;
	height:100px;
	margin-left:5%;
	width:90%;
	display: inline-block;
	text-align:center;
	background-color:white;
	font-weight:bolder;
	font-size:40px;
	line-height:100px;
}
.medium_whitebox2{ 
	border-radius:30px;
	height:100px;
	margin-left:5%;
	width:90%;
	display: inline-block;
	text-align:center;
	background-color:white;
	font-weight:bolder;
	font-size:50px;
	line-height:100px;
}
.large_whitebox{ 
	padding-top:20px;
	width:95%;
	border-radius:20px;
	height:200px;
	display: inline-block;
	text-align:center;
	background-color:white;
	font-size:35px;
	font-weight:bolder;
}

.footer_box{
	text-align:center;
	font-weight:bold;
	font-size:30px;
	border-top: 3px solid black;
	margin: 0 5%;
    width: 88%; 
    color: black;
    padding: 20px; 
    display: inline-block;
}
.login_table{
	width:100%;
	border:none;
}
.login_table  tr{
	border:none;
	
}
.column1{width:50%; border:none;}
.container h3 {
	text-align: center;
}

.logPage {
	flex: 1;
}

.logPage h3 {
    text-align: center; 
    margin-bottom: 20px; 
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.footer {
	margin: 20px;
	text-align: center;
}

.red_btn{
	display:inline-block;
	margin:10px;
	font-size:40px;
	width:230px;
	height:60px;
	font-weight:bolder;
	background-color:red;
	color:white;
	border:none;
	border-radius:10px;
	cursor:pointer;
	text-align:center;
}
a{
	text-decoration:none;
}
.main_title,
.main_title:hover, 
.main_title:focus, 
.main_title:active 
{ text-decoration: none; color:red;}

.red_btn:hover, .blue_btn:hover{
	background-color:black;
}
.blue_btn{
	display:inline-block;
	margin:10px;
	font-size:40px;
	width:230px;
	height:60px;
	font-weight:bolder;
	background-color:blue;
	color:white;
	border:none;
	cursor:pointer;
	border-radius:10px;
	text-align:center;
}
.input_box{
	height:35px;
	width:150px;
	font-size:35px;
	margin-bottom:10px;
}
#optionsSelect{
width:60%;
font-size:20px;
}
.user_name_box{
	font-size: 50px;
	text-align:center;
	font-weight:bolder;
}
.log_box{
	background-color: white;
	width:70%;
	height:auto;
	font-size:25px;
	border-radius:15px;
	margin:10px 15%;
	padding: 10px 0px;
	
	/* Added by kk */
	display: flex;
    flex-direction: column;
    align-items: center;
}
.log_table{
 border-collapse: collapse;
}
td, th, tr{
  border: 1px solid black;
  text-align:center;

}
.name_box{
	background-color: moccasin;
	padding:10px;
	margin:20px;
	font-size:40px;
	border-radius:5px;
	font-weight:bolder;
	display:inline-block;
}
.white_span_box{
	background-color:white;
	padding:10px;
	margin:20px;
	font-size:40px;
	border-radius:5px;
	font-weight:bolder;
}
.text_box{
	padding:10px;
	margin:20px;
	font-size:40px;
	font-weight:bold;
}
.btn_box{
	display:flex;
	justify-content: center;
}