<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>打刻システム - 編集</title>
	<link rel="stylesheet" th:href="@{../../css/userPage.css}" />
</head>

<body>
	<!--　ヘッダーです。（共通項目） -->
	<header>
		<div class="title_box">
			<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="../../img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
			<div class="title_2"> 楽天証券打刻システム</div>
			<div class="title_3"> </div>
		</div>
	</header>

	<body>
		<form th:action="@{/adminDetails}" th:object="${workTimeRequest}" th:method="post">
			<label>期間</label>
			<input type="date" th:field="*{startDate}">〜
			<input type="date" th:field="*{endDate}">
			<input type="hidden" th:field="*{id}">
			<button type="submit">検索</button>
		</form>

		<table class="workTimeTable">
			<thead>
				<tr>
					<th>総勤務日数</th>
					<th>総勤務時間</th>
				</tr>
			</thead>
			<div th:if="${workTimeInfo}">
				<tbody>
					<tr th:each="work: ${workTimeInfo}" class="align-middle">
						<td th:text="*{work.workCount}"></td>
						<td th:text="${#temporals.format(work.totalWorkTime, 'HH:mm')}"></td>
					</tr>
				</tbody>
			</div>
		</table>

	</body>

</html>