<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>打刻システム - 検索</title>
	<link rel="stylesheet" href="css/tab.css" />
	<link rel="stylesheet" href="css/userPage.css" />
</head>

<DIV>
	<!--　ヘッダーです。（共通項目） -->
	<header>
		<div class="title_box">
			<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
			<div class="title_2"> 楽天証券打刻システム</div>
			<div class="title_3"> </div>
		</div>
	</header>

	<div class="main_box">
		- ADMIN MYPAGE -
	</div>
	
		<div class="content_box_admin">

			<!--タブ１枚目（出退勤の検索画面） -->
			<input type="radio" name="tab_name" id="tab1" checked>
			<label class="tab_class" for="tab1">出退勤検索</label>
			<div class="content_class">
				<form th:action="@{/stamp}" th:object="${searchStamps}" th:method="post">
					<label>日時：</label>
					<input type="datetime-local" th:field="*{startDate}" required="required">
					〜
					<input type="datetime-local" th:field="*{endDate}" required="required"><br>

					<label>社員番号：</label>
					<input type="number" th:field="*{employee_id}"><br>

					<label>名字：</label>
					<input type="text" th:field="*{lastname}"><br>

					<label>名前：</label>
					<input type="text" th:field="*{firstname}"><br>

					<label>出退勤カテゴリ：</label>
					<select id="stampType_id" name="stampType_id">
						<option value="0">分類</option>
						<option value="01">出勤</option>
						<option value="2">退勤</option>
						<option value="3">外出</option>
						<option value="4">復帰</option>
					</select><br>

					<button type="submit" class="blue_btn">検索</button>
					<button type="submit" class="red_btn">ログアウト</button>
				</form>
				<div th:if="${stampInfo}">
					<table class="employeesTable">
						<thead>
							<tr>
								<th>選択</th>
								<th>社員番号</th>
								<th>カテゴリ</th>
								<th>名前</th>
								<th>申請者</th>
								<th>編集</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="stamp: ${stampInfo}" class="align-middle">
								<td><input type="checkbox"></td>
								<td th:text="*{stamp.userId}"></td>
								<td th:text="*{stamp.stampTypeId}"></td>
								<td th:text="*{stamp.firstname}"></td>
								<td th:text="*{stamp.applicant}"></td>
								<td><a th:href="@{/admin/{id}/adminEdit(id=*{stamp.logId})}">編集</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="red_btn">一括削除</button>
			</div>

			<!--タブ２枚目（社員の検索画面） -->
			<input type="radio" name="tab_name" id="tab2">
			<label class="tab_class" for="tab2">社員検索</label>
			<div class="content_class">
				<div class="left_box">
					<form th:action="@{/emp}" th:object="${searchEmployees}" th:method="post">
					<label>生年月日：</label>
					<input type="date" th:field="*{startDate}" required="required">
					〜
					<input type="date" th:field="*{endDate}" required="required"><br>

					<label>社員番号：</label>
					<input type="number" th:field="*{employee_id}"><br>

					<label>部署：</label>
					<select id="dpt_id" name="dpt_id">
						<option value="0">部署</option>
						<option value="1">Sales</option>
						<option value="2">Marketing</option>
						<option value="3">Engineering</option>
						<option value="4">Finance</option>
					</select><br>

					<label>名字：</label>
					<input type="text" th:field="*{lastname}"><br>

					<label>名前：</label>
					<input type="text" th:field="*{firstname}"><br>

					<label>役職：</label>
					<select id="position_id" name="position_id">
						<option value="0">役職</option>
						<option value="1">Manager</option>
						<option value="2">Assistant Manager</option>
						<option value="3">Senior Engineer</option>
						<option value="4">Software Developer</option>
					</select><br>


					<button type="submit" class="blue_btn">検索</button>
					<button type="submit" class="red_btn">ログアウト</button>
				</form>
				<div th:if="${empInfo}">
					<table class="employeesTable">
						<thead>
							<tr>
								<th>選択</th>
								<th>社員番号</th>
								<th>部署</th>
								<th>名前</th>
								<th>役職</th>
								<th>生年月日</th>
								<th>編集</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="emp: ${empInfo}" class="align-middle">
								<td><input type="checkbox"></td>
								<td th:text="*{emp.employeeId}"></td>
								<td th:text="*{emp.dptName}"></td>
								<td th:text="*{emp.firstname}"></td>
								<td th:text="*{emp.positionName}"></td>
								<td th:text="*{emp.birthday}"></td>
								<td><input type="button" value="編集"></td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>

			</div>
		</div>
<!--フッターです。（共通項目）-->
<footer>
	<div class="footer_box">問い合わせ先:rakuten-tarou@rakuten-sec.co.jp</div>
</footer>

</body>
</html>