<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>打刻システム - 検索</title>
	<link rel="stylesheet" href="css/tab.css" />
	<link rel="stylesheet" href="css/userPage.css" />
</head>

<body>
	<!--　ヘッダーです。（共通項目） -->
	<header>
		<div class="title_box">
			<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
			<div class="title_2"> 楽天証券打刻システム</div>
			<div class="title_3">
				<form th:action="@{/clockin}" th:method="post" th:name="p" id="clockinForm">
					<input type="hidden" name="action" id="action" />
					<input type="hidden" name="selectedOption" id="selectedOption" />
					<button class="logout-btn" type="submit" value="logout" onclick="setAction('logout')">ログアウト</button>
				</form>
			</div>
		</div>
	</header>

	<div class="main_box">
		- ADMIN MYPAGE -
	</div>

	<div class="content_box">
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<!--タブ１枚目（出退勤の検索画面） -->
		<input type="radio" name="tab_name" id="tab1" onclick="saveState('tab1')" checked>
		<label class="tab_class" for="tab1" id="tab_position1">出退勤検索</label>
		<div class="content_class">

			<form th:action="@{/admin}" th:object="${searchStampsRequest}" th:method="post">
				<label>日時：</label>
				<input type="datetime-local" th:field="*{startDate}">
				〜
				<input type="datetime-local" th:field="*{endDate}"><br>

				<label>社員番号：</label>
				<input type="text" pattern="^[1-9][0-9]*$" title="半角数字で入力してください" th:field="*{employee_id}"><br>

				<label>姓：</label>
				<input type="text" th:field="*{lastname}"><br>

				<label>名：</label>
				<input type="text" th:field="*{firstname}"><br>

				<label>出退勤カテゴリ：</label>
				<select id="stampType_id" name="stampType_id">
					<option value="">分類</option>
					<option value="0">出勤</option>
					<option value="1">退勤</option>
					<option value="2">外出</option>
					<option value="3">復帰</option>
				</select><br>
				<div class="btn_box_right">
					<button type="submit" name="stamp" value="stamp_search" class="blue_btn">検索</button>
				</div>
			</form>
			<div th:if="${stampCondition}">
				<label>検索条件</label>
				<table>
					<thead>
						<tr>
							<th>期間</th>
							<th>社員番号</th>
							<th>姓</th>
							<th>名</th>
							<th>出退勤カテゴリ</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="con:${stampCondition}" class="align-middle">
							<td
								th:text="${#temporals.format(con.startDate, 'yyyy/MM/dd')} + 〜 + ${#temporals.format(con.endDate, 'yyyy/MM/dd')}">
							</td>
							<td th:text="*{con.userId}"></td>
							<td th:text="*{con.lastname}"></td>
							<td th:text="*{con.firstname}"></td>
							<td th:text="*{con.stampTypeIdStr}"></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div th:if="${stampInfo}">
				<table class="employeesTable">
					<thead>
						<tr>
							<th>社員番号</th>
							<th>日時</th>
							<th>分類</th>
							<th>名前</th>
							<th>申請者</th>
							<th>編集</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="stamp: ${stampInfo}" class="align-middle">
							<td th:text="*{stamp.userId}"></td>
							<td th:text="${#temporals.format(stamp.datetime, 'yyyy/MM/dd HH:mm:ss')}"></td>
							<td th:text="*{stamp.stampTypeIdStr}"></td>
							<td th:text="*{stamp.lastname} + ' ' + *{stamp.firstname}"></td>
							<td th:text="*{stamp.applicant}"></td>
							<td><a th:href="@{/admin/{id}/adminEdit(id=*{stamp.logId})}">編集</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!--タブ２枚目（社員の検索画面） -->
		<input type="radio" name="tab_name" id="tab2" onclick="saveState('tab2')">
		<label class="tab_class" for="tab2" id="tab_position2">社員検索</label>
		<div class="content_class">
			<form th:action="@{/admin}" th:object="${searchEmployeesRequest}" th:method="post">
				<label>生年月日：</label>
				<input type="date" th:field="*{startDate}">
				〜
				<input type="date" th:field="*{endDate}"><br>

				<label>社員番号：</label>
				<input type="text" pattern="^[1-9][0-9]*$" title="半角数字で入力してください" th:field="*{employee_id}"><br>

				<label>部署：</label>
				<select id="dpt_id" name="dpt_id">
					<option value="">部署</option>
					<option value="1">Sales</option>
					<option value="2">Marketing</option>
					<option value="3">Engineering</option>
					<option value="4">Finance</option>
				</select><br>

				<label>姓：</label>
				<input type="text" th:field="*{lastname}"><br>

				<label>名：</label>
				<input type="text" th:field="*{firstname}"><br>

				<label>役職：</label>
				<select id="position_id" name="position_id">
					<option value="">役職</option>
					<option value="1">Manager</option>
					<option value="2">Assistant Manager</option>
					<option value="3">Senior Engineer</option>
					<option value="4">Software Developer</option>
				</select><br>

				<div class="btn_box_right">
					<button type="submit" name="emp" value="emp_search" class="blue_btn">検索</button>
				</div>
			</form>

			<div th:if="${empCondition}">
				<label class="condition_label">検索条件</label>
				<table>
					<thead>
						<tr>
							<th>生年月日</th>
							<th>社員番号</th>
							<th>部署</th>
							<th>姓</th>
							<th>名</th>
							<th>役職</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="em:${empCondition}" class="align-middle">
							<td
								th:text="${#temporals.format(em.startDate, 'yyyy/MM/dd')} + 〜 + ${#temporals.format(em.endDate, 'yyyy/MM/dd')}">
							</td>
							<td th:text="*{em.employeeId}"></td>
							<td th:text="*{em.dptName}"></td>
							<td th:text="*{em.lastname}"></td>
							<td th:text="*{em.firstname}"></td>
							<td th:text="*{em.positionName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${empInfo}">
				<table class="employeesTable">
					<thead>
						<tr>
							<th>社員番号</th>
							<th>部署</th>
							<th>名前</th>
							<th>役職</th>
							<th>生年月日</th>
							<th>詳細</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="emp: ${empInfo}" class="align-middle">
							<td th:text="*{emp.employeeId}"></td>
							<td th:text="*{emp.dptName}"></td>
							<td th:text="*{emp.lastname} + ' ' + *{emp.firstname}"></td>
							<td th:text="*{emp.positionName}"></td>
							<td th:text="${#temporals.format(emp.birthday, 'yyyy/MM/dd')}">
							<td><a th:href="@{/admin/{id}/tmp(id=*{emp.employeeId})}">詳細</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	</div>
	<!--フッターです。（共通項目）-->
	<footer>
		<div class="footer_box">問い合わせ先:rakuten-tarou@rakuten-sec.co.jp</div>
	</footer>

</body>
<script>
	// ページ読み込み時にsessionStorageからラジオボタンの状態を復元
	window.onload = function () {
		var tab1Checked = sessionStorage.getItem('tab1Checked');
		var tab2Checked = sessionStorage.getItem('tab2Checked');

		if (tab2Checked === 'true') {
			console.log("2がチェックされてます");
			document.getElementById('tab2').checked = true;
		} else if (tab1Checked === 'true') {
			console.log("1がチェックされてます");
			document.getElementById('tab1').checked = true;
		}
	};

	// ラジオボタンがクリックされたときにsessionStorageに状態を保存
	function saveState(tabId) {
		var isChecked = document.getElementById(tabId).checked;
		if (tabId == "tab2") {
			sessionStorage.setItem("tab2Checked", 'true');
			console.log("2がチェックされました");
		} else {
			sessionStorage.setItem("tab2Checked", 'false');
			console.log("1がチェックされました");
		}
	};
</script>


</html>