<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>打刻システム - 検索</title>
	<link rel="stylesheet" href="css/admin.css" />
	<link rel="stylesheet" href="css/userPage.css" />
</head>

<body>
	<!--　ヘッダーです。（共通項目） -->
	<header>
		<div class="title_box">
			<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
			<div class="title_2"> 楽天証券打刻システム</div>
			<div class="title_3"> </div>
		</div>
	</header>

	<div class="main_box">
		- 検索 -
		<div class="content_box">
				<input type="radio" name="tab_name" id="tab1" checked>
				<label class="tab_class" for="tab1">出退勤検索</label>
				<div class="content_class">
					<form th:action="@{/admin/search}" th:object="${searchEmployees}" th:method="post">
						<label>日時：</label>
						<input type="date" th:field="*{startDate}">
						〜
						<input type="date" th:field="*{endDate}"><br>

						<label>社員番号：</label>
						<input type="number" th:field="*{employee_id}"><br>

						<label>部署名：</label>
						<input type="number" th:field="*{dpt_id}"><br>

						<label>名字：</label>
						<input type="text" th:field="*{lastname}"><br>

						<label>名前：</label>
						<input type="text" th:field="*{firstname}"><br>

						<label>出退勤カテゴリ：</label>
						<input type="number" th:field="*{stampType}"><br>

						<button type="submit">検索</button>
						<button type="submit">ログアウト</button>
					</form>
				</div>
				<input type="radio" name="tab_name" id="tab2">
				<label class="tab_class" for="tab2">社員検索</label>
				<div class="content_class">
					<p>タブ2のコンテンツを表示します</p>
				</div>

		</div>
</body>

</html>