<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>打刻システム - TOP</title>
<link rel="stylesheet" href="css/userPage.css"/>
</head>
<body>

<!--　ヘッダーです。（共通項目） -->
<header> 
	<div class="title_box">
		<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png" alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
		<div class="title_2"> <a href="home" class="main_title"> 楽天証券打刻システム</a></div>
		<div class="title_3">  </div>
	</div>
</header>
<!--　ここからメインです。-->
<main> 
	<div class="main_box">
	- TOP -
	</div>
	<div class="content_box">
		<table class="login_table">
			<tr >
				<td class="column1"> <div class="medium_whitebox"> <span id="date"></span></div> </td>
				<td rowspan="2" class="column1">
					<div class="large_whitebox"> 
<!-- ログイン　form タグの actionを修正要望　-->
						<form th:action="@{/login}" th:method="POST"  th:object=${logininfo}>
							<label for="login_id"> 社員番号: </label> <input th:field="*{login_id}" type="number" class="input_box">  <br>
							<label for="login_pw"> パスワード: </label> <input th:field="*{login_pw}" type="password" class="input_box"> <br>
							<button type="submit" class="red_btn"> ログイン</button>  <a href="create" class="blue_btn"> <span>会員登録</span></a> 
						</form>   
					</div> 
				</td>
			</tr>
			<tr >
				<td> <div class="medium_whitebox2"><span id="time"> </span></div> </td>
			</tr>
		</table>
	</div>
</main>
<!--フッターです。（共通項目）-->
<footer>
	<div class="footer_box">問い合わせ先:rakuten-tarou@rakuten-sec.co.jp</div>
</footer>


<script>
	function getCurrentDate() {
		let currentDate = new Date();
	    let year = currentDate.getFullYear();
	    let month= ("0" + (currentDate.getMonth() + 1)).slice(-2);
	    let day = ("0" + currentDate.getDate()).slice(-2);
	    let dayOfWeek = ["日", "月", "火", "水", "木", "金", "土"][currentDate.getDay()];
	    date= year + '年' + month + '月' + day + '日(' + dayOfWeek + ')'; 
	    return `${date}`;
	}
	
	function getCurrentTime() {
		let currentDate = new Date();
		let time = currentDate.toLocaleTimeString();
		let hour = currentDate.getHours();
		let minute = currentDate.getMinutes();
		let second =currentDate.getSeconds();
		let ampm = hour>=12 ? '午前': '午後';
		hour =hour%12;
		hour = hour ? hour: 12;
		
		hour=hour<10 ? '0'+ hour : hour;
		minute=minute<10 ? '0'+ minute : minute;
		second=second<10 ? '0'+ second : second;
		time=ampm+' '+hour+'時'+minute+'分'+second+'秒';	
		return `${time}`;
	}
	
	function updateTime() {
	    document.getElementById('time').textContent = getCurrentTime();
	}
	
	function updateDate() {
	    document.getElementById('date').textContent = getCurrentDate();
	}
	
	function setAction(action) {
        document.getElementById('action').value = action;
        if (action === 'clockin') {
            var selectedOption = document.getElementById('optionsSelect').value;
            document.getElementById('selectedOption').value = selectedOption;
        }
        document.getElementById('clockinForm').submit();
    }
	
	setInterval(updateTime, 1000);
	updateTime();
	updateDate();
	
</script>
</body>
</html>