<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>打刻履歴</title>
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/userPage.css" />
</head>

<body>
	<!--　ヘッダーです。（共通項目） -->
	<header>
		<div class="title_box">
			<div class="title_1"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="maing_logo"> </a></div>
			<div class="title_2"> 楽天証券打刻システム</div>
			<div class="title_3"> </div>
			<form th:action="@{/home}" th:method="get">
				<button class="logout-btn" type="submit" value="logout" action="/home">ログアウト</button>
			</form>
		</div>
	</header>
	<div class="main_box">
		- USER LOG -
	</div>
	<div class="logPage">
		<div class="content_box">

			<div class="user_name_box"><span th:text="${userName}"></span> 様</div>
			<div class="log_box">

				<table class="log_table">
					<thead>
						<tr>
							<th>日付</th>
							<th>カテゴリ</th>
							<th>申請者</th>
						</tr>
					</thead>
					<div th:each="eachRow : ${logs}" th:object="${eachRow}" class="align-middle">
						<tbody id="table-body">
							<!-- Table rows will be added dynamically here -->
							<tr>
								<td>
									<p th:text="*{datetime}"></p>
								</td>
								<td>
									<p th:text="*{stampTypeIdStr}"></p>
								</td>
								<td>
									<p th:text="*{applicant}"></p>
								</td>
							</tr>
						</tbody>
					</div>
					
				</table>
				<!-- Show current page number -->
				<p>-- <span th:text="${currentPage}"></span> / <span th:text="${maxPageNum + 1}"></span> --</p>

			</div>
			<div class="footer">
				<a th:if="${currentPage} > 1"           th:href="@{/userLogPage(currPage=${currentPage - 1})}">
					<button class="blue_btn" style="font-size:30px;">前のページ</button>
				</a>
				<a href="/userMyPage">
					<button class="blue_btn" style="font-size:30px;">マイページへ</button>
				</a>
				<a th:if="${currentPage <= maxPageNum}" th:href="@{/userLogPage(currPage=${currentPage + 1})}">
					<button class="blue_btn" style="font-size:30px;">次のページ</button>
				</a>
				<a th:href="@{/detail}">
					<button class="blue_btn" style="font-size:30px;">勤務時間確認</button>
				</a>
			</div>
		</div>

	</div>
<!--フッターです。（共通項目）-->
<footer>
	<div class="footer_box">問い合わせ先:rakuten-tarou@rakuten-sec.co.jp</div>
</footer>
</body>

</html>